
.riga{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* debud */
    min-height: 400px;
    background-color: rgb(255, 255, 255);

}

.rigagrigia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* debud */
    min-height: 400px;
    background-color:lightgray;

}


.azzurro{
    min-height: 300px;
    width: 35%;
    background-color: rgb(0, 118, 208);
    border: 2px solid black;
}

.rosa{
    min-height: 300px;
    width: 25%;
    background-color: rgb(55, 230, 39);
    border: 2px solid black;
}

#green{
    height: 400px;
    width: 60%;
    margin: 50px;
    background-color:rgb(255, 191, 0);
    border: 2px solid black;
}
